## beginning of guesstimator

In [6]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [4]:
#As usual, import all the packages required

import numpy as np
import pandas as pd
import pickle as plk

#Plotting
import matplotlib.pyplot as plt
import seaborn as sns

#Testing
from sklearn.cross_validation import train_test_split
from sklearn.cross_validation import cross_val_score
from sklearn.model_selection import learning_curve
%matplotlib inline

#Modelling
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import RidgeCV
from sklearn.linear_model import LassoCV
from sklearn import metrics
from sklearn.preprocessing import PolynomialFeatures
from sklearn import feature_selection as f_select
from sklearn.metrics import mean_squared_error

### Import the dataset and explore

In [67]:
dataset_loc = '../../datasets/premier-league/'

In [68]:
hist_res = pd.read_csv(dataset_loc+'/results.csv')

In [69]:
hist_res.head(3)

          home_team    away_team  home_goals  away_goals result     season
0  Sheffield United    Liverpool         1.0         1.0      D  2006-2007
1           Arsenal  Aston Villa         1.0         1.0      D  2006-2007
2           Everton      Watford         2.0         1.0      H  2006-2007

In [70]:
#Adding help columns

hist_res['season_start_yr'] = hist_res['season'].str[:4]
hist_res['home_goals'] = hist_res['home_goals'].apply(int)
hist_res['away_goals'] = hist_res['away_goals'].apply(int)
hist_res['result'] = hist_res['home_goals'].astype(str)+ ':' +hist_res['away_goals'].astype(str)

In [71]:
hist_res.head()

,home_team,away_team,home_goals,away_goals,result,season,season_start_yr
0,Sheffield United,Liverpool,1,1,1:1,2006-2007,2006
1,Arsenal,Aston Villa,1,1,1:1,2006-2007,2006
2,Everton,Watford,2,1,2:1,2006-2007,2006
3,Newcastle United,Wigan Athletic,2,1,2:1,2006-2007,2006
4,Portsmouth,Blackburn Rovers,3,0,3:0,2006-2007,2006