## Exploratory Data Analysis

**Import essential packages**

In [22]:
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib as plt
import math
import folium

**Import the main dataset**

In [5]:
poi_df = pd.read_csv('./datasets/poi.csv')

,name,latitude_radian,longitude_radian,num_links,links,num_categories,categories
0,"YAYCHI, WEST AZERBAIJAN",0.683175,0.778053,13,Baba Jik Rural District; West Azerbaijan Provi...,1,POPULATED PLACES IN CHALDORAN COUNTY

In [8]:
poi_df.head(3)

,name,latitude_radian,longitude_radian,num_links,links,num_categories,categories
0,"YAYCHI, WEST AZERBAIJAN",0.683175,0.778053,13,Baba Jik Rural District; West Azerbaijan Provi...,1,POPULATED PLACES IN CHALDORAN COUNTY
1,MOUNT FISKE GLACIER,0.648196,-2.071114,9,Mount Fiske; Mount Warlow Glacier; U.S. state;...,3,GLACIERS OF THE SIERRA NEVADA (U.S.); GLACIERS...
2,ALATONA,0.258356,-0.103606,10,Diabaly; Alatona Irrigation Project; Mali; Nio...,2,POPULATED PLACES IN SÉGOU REGION; IRRIGATION P...

In [17]:
poi_df['categories'].head(3)

0                 POPULATED PLACES IN CHALDORAN COUNTY
1    GLACIERS OF THE SIERRA NEVADA (U.S.); GLACIERS...
2    POPULATED PLACES IN SÉGOU REGION; IRRIGATION P...
Name: categories, dtype: object

**Convert radians to degrees and add two extra columns**

In [20]:
poi_df['latitude_degrees'] = poi_df['latitude_radian'].apply(math.degrees)
poi_df['longitude_degrees'] = poi_df['longitude_radian'].apply(math.degrees)

In [21]:
poi_df.head()

,name,latitude_radian,longitude_radian,num_links,links,num_categories,categories,latitude_degrees,longitude_degrees
0,"YAYCHI, WEST AZERBAIJAN",0.683175,0.778053,13,Baba Jik Rural District; West Azerbaijan Provi...,1,POPULATED PLACES IN CHALDORAN COUNTY,39.143056,44.579167
1,MOUNT FISKE GLACIER,0.648196,-2.071114,9,Mount Fiske; Mount Warlow Glacier; U.S. state;...,3,GLACIERS OF THE SIERRA NEVADA (U.S.); GLACIERS...,37.138889,-118.666111
2,ALATONA,0.258356,-0.103606,10,Diabaly; Alatona Irrigation Project; Mali; Nio...,2,POPULATED PLACES IN SÉGOU REGION; IRRIGATION P...,14.802700,-5.936200
3,PEMBA ISLAND,-0.090175,0.694350,43,Malaysia Airlines Flight 370; Arusha; Chake Ch...,5,PEMBA ISLAND; ISLANDS OF TANZANIA; ISLANDS OF ...,-5.166667,39.783333
4,MBOLO,0.149517,0.359829,6,UTC; Sub-prefectures of the Central African Re...,2,N'DÉLÉ; POPULATED PLACES IN BAMINGUI-BANGORAN,8.566667,20.616667

In [34]:
poi_map = folium.Map(location=([37.138889, -118.666111]), tiles="OpenStreetMap")

tooltip = 'Click Me!'

folium.Marker([37.138889, -118.666111], popup='<i>Mt. Fiske Glacier</i>', tooltip=tooltip).add_to(poi_map)

poi_map